.home {
    background: #eee;
    background-size:cover;
    background-attachment:fixed;
}

.sunny {
    background: #f1e767;
    background: -moz-linear-gradient(left, #f1e767 10%, #feb645 73%);
    background: -webkit-linear-gradient(left, #f1e767 10%,#feb645 73%);
    background: linear-gradient(to right, #f1e767 10%,#feb645 73%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=1 );
    
    background-size:cover;
    background-attachment:fixed;
}

.partlycloudy {
    background: #968c72; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #968c72 , rgba(248, 181, 0, 0.73)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #968c72 , rgba(248, 181, 0, 0.73)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cloudy {
    background: -moz-linear-gradient(left, rgba(190,194,198,0.33) 0%, rgba(174,180,185,0.33) 18%, rgba(130,140,149,0.75) 69%, rgba(118,134,148,0.91) 89%, rgba(112,131,147,0.91) 100%);
    background: -webkit-linear-gradient(left, rgba(190,194,198,0.33) 0%,rgba(174,180,185,0.33) 18%,rgba(130,140,149,0.75) 69%,rgba(118,134,148,0.91) 89%,rgba(112,131,147,0.91) 100%);
    background: linear-gradient(to right, rgba(190,194,198,0.33) 0%,rgba(174,180,185,0.33) 18%,rgba(130,140,149,0.75) 69%,rgba(118,134,148,0.91) 89%,rgba(112,131,147,0.91) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54bec2c6', endColorstr='#e8708393',GradientType=1 );
    
    background-size:cover;
    background-attachment:fixed;
}

.stormy {
    background: rgb(206,219,233);
    background: -moz-linear-gradient(left, rgba(206,219,233,1) 0%, rgba(97,153,199,1) 100%);
    background: -webkit-linear-gradient(left, rgba(206,219,233,1) 0%,rgba(97,153,199,1) 100%);
    background: linear-gradient(to right, rgba(206,219,233,1) 0%,rgba(97,153,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#6199c7',GradientType=1 );
    
    background-size:cover;
    background-attachment:fixed;
}

.cold {
    background: -moz-linear-gradient(left, rgba(254,255,255,0.44) 0%, rgba(221,241,249,0.6) 35%, rgba(160,216,239,0.9) 100%);
    background: -webkit-linear-gradient(left, rgba(254,255,255,0.44) 0%,rgba(221,241,249,0.6) 35%,rgba(160,216,239,0.9) 100%);
    background: linear-gradient(to right, rgba(254,255,255,0.44) 0%,rgba(221,241,249,0.6) 35%,rgba(160,216,239,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70feffff', endColorstr='#e6a0d8ef',GradientType=1 );
    
    background-size:cover;
    background-attachment:fixed;
}

.night {
    background: #111; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #111 , #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #111 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size:cover;
    background-attachment:fixed;
    
    color: #fff;
}

.tornado {
    background: red;
    
    background-size:cover;
    background-attachment:fixed;
}