figure {
        width: 6em;
        height: 6em;
        padding: 1.5em;
        margin: .5em auto;
        position: relative;

        display: flex;
        flex-flow: column;
        align-items: flex-start;

        i {
            position: absolute;
            top: 0;
            right: 0;
        }

        h2 {
            margin: .5em 0 .25em;
        }

        h4 {
            margin: .25em 0;
        }

        figcaption {
            display: none;
        }
    }