$fontcolor: #fff;

figure {
        width: 6em;
        height: 6em;
        padding: 1.5em;
        position: relative;

        display: flex;
        flex-flow: column;
        align-items: flex-start;

        i {
            position: absolute;
            top: 0;
            right: 0;
        }

        h2 {
            color: $fontcolor;
            margin: .5em 0 .25em;
        }

        figcaption {
            color: $fontcolor;
            margin: .25em 0;
        }
    
        .coldweatherfontcolor {
            color: #000;
        }
    }