/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 
    
    body {
        justify-content: center;
        align-items: center;
        
        main {
            font-size: .75em;
            margin-top: 8em;
        
            div {
                display: flex;
                flex-flow: column;
                align-items: center;
                margin: 2em 2em 0em -.5em;
                
                .displayforecast {
                    display: none;
                }
            }
        }
        
        figure {
            margin: .5em auto;
            
            i {
                font-size: 3em;
            }
        }
        
        #show-sidr {
            font-size: 2em;
        }
        
        #sidr a {
            font-size: 2em;
        }
        
        #homepage h1 {
            font-size: 4em;
            padding: 1em .5em;
        }
    }
    
    section {
        display: none;
        max-width: 100%;
    }
    
    .showforecast {
        display: flex;
        flex-flow: row wrap;
        font-size: 1.25em;
        margin: 4em auto;
        padding: 1em;
        width: 20em;
    }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
    
    body {
        
        #sidr a {
            font-size: 1.25em;
        }
    
        figure {
            margin: .5em .25em;

            i {
                font-size: 4em;
            }
        }
        
        main {
            display: flex;
            flex-flow: column;
            align-items: center;

            div {
                .temperature {
                    margin: 2em 0 0 0;
                }

                button {
                    display: block;
                }
            }

        }
    }
    
    #homepage h1 {
        margin: 2.5em 0;
    }
    
    .showforecast {
        display: none;
    }
    
    section {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        width: 90%;
        
        padding: 2.5em .5em;
    }
    
    button {
        display: none;
    }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 

}