/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
    
    body {
        justify-content: center;
        align-items: center;
        
        main {
            font-size: .75em;
            margin-top: 8em;
        
            div {
                display: flex;
                flex-flow: column;
                align-items: center;
                margin: 2em 2em 0em -.5em;
                
                .displayforecast {
                    display: none;
                }
            }
        }
        
        figure i {
            font-size: 3em;
        }
        
        #show-sidr {
            font-size: 2em;
        }
        
        #sidr a {
            font-size: 2em;
        }
        
        #homepage h1 {
            font-size: 4em;
            padding: 1em .5em;
        }
    }
    
    section {
        display: none;
    }
    
    .showforecast {
        display: flex;
        flex-flow: row wrap;
        font-size: 1.25em;
        margin: 4em auto;
        padding: 1em;
        width: 20em;
    }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }
    
    body {
        
        #sidr a {
            font-size: 1.25em;
        }
        
        main {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-top: 2em;

            div {
                .temperature {
                    margin: 2em 0 0 0;
                }

                button {
                    display: block;
                }
            }

        }
    }
    
    figure i {
        font-size: 4em;
    }
    
    .showforecast {
        display: none;
    }
    
    section {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        
        padding: 2.5em 1em;

        figure {
            padding: 1.5em .5em;
            margin: .25em;
            width: 10em;

            display: flex;
            flex-flow: column;
            align-items: center;

            h2 {
                margin: .5em 0;
            }

            i {
                margin: 0;
            }

            figcaption {
                font-size: .8em;
                margin: .5em;
            }

            h4 {
                margin: .25em;
            }
        }
    }
    
    button {
        display: none;
    }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }
    
    body {
        
        #homepage h1 {
            padding: 2em;
        }
    }

}